src/main/resources/META-INF/mule-hibernate.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://tabletlive.com/schema/mule/hibernate"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://tabletlive.com/schema/mule/hibernate"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd" />
    <xsd:import namespace = "http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation = "http://www.mulesoft.org/schema/mule/schemadoc/3.1/mule-schemadoc.xsd"/>

	<xsd:annotation>
        <xsd:documentation>Enables Hibernate support in mule for inbound and outbound connectors</xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>Hibernate</schemadoc:short-name>
            <schemadoc:page-title>Hibernate Transport</schemadoc:page-title>
            <schemadoc:transport-features
            receiveEvents="false" dispatchEvents="false" responseEvents="true"
                                          requestEvents="false"
                                          transactions="false" streaming="false">
                <schemadoc:inboundMEPs in-only="false" in-optional-out="true" in-out="true"/>
                <schemadoc:outboundMEPs out-only="true" out-in="true" out-optional-in="true"/>
            </schemadoc:transport-features>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="connector" type="hibernateConnectorType" substitutionGroup="mule:abstract-connector"/>
    <xsd:complexType name="hibernateConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType">
                <xsd:attribute name="sessionFactory-ref" type="xsd:NMTOKEN" use="required"/>
                <xsd:attribute name="sessionMerge-ref" type="xsd:NMTOKEN"/>
                <xsd:attribute name="sessionDelete-ref" type="xsd:NMTOKEN"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
             
	<xsd:element name="inbound-endpoint" type="inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint"/>
    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:inboundEndpointType">
                <xsd:attribute name="createQuery-ref" type="xsd:NMTOKEN"/>
                <xsd:attribute name="query" type="xsd:string" use="required"/>
                <xsd:attribute name="singleMessage" type="mule:substitutableBoolean"/>
                <xsd:attribute name="maxResults" type="mule:substitutableInt"/><!--  used only if createQuery-ref is not set, otherwise ignored -->
                <xsd:attribute name="createAck-ref" type="xsd:NMTOKEN"/>
                <xsd:attribute name="ack" type="xsd:string"/>
                <xsd:attribute name="singleAck" type="mule:substitutableBoolean"/>
                <xsd:attribute name="pollingFrequency" type="mule:substitutableLong" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
          
	<xsd:element name="outbound-endpoint" type="outboundEndpointType" substitutionGroup="mule:abstract-outbound-endpoint"/>
    <xsd:complexType name="outboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:outboundEndpointType">
                <xsd:attribute name="createChange-ref" type="xsd:NMTOKEN"/>
            	<xsd:attribute name="change" type="xsd:string" use="required"/>
          	</xsd:extension>
       	</xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="transaction" type="mule:baseTransactionType" substitutionGroup="mule:abstract-transaction"/>      
                
</xsd:schema>
