src/main/resources/META-INF/mule-hibernate.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesource.org/schema/mule/hibernate/2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
            targetNamespace="http://www.mulesource.org/schema/mule/hibernate/2.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0"
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />

    <xsd:element name="connector" type="hibernateConnectorType" substitutionGroup="mule:abstract-connector"/>

    <xsd:complexType name="hibernateConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType">
                <xsd:attribute name="sessionFactory-ref" type="xsd:NMTOKEN" use="required"/>
                <xsd:attribute name="sessionMerge-ref" type="xsd:NMTOKEN"/>
                <xsd:attribute name="sessionDelete-ref" type="xsd:NMTOKEN"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
             
	<xsd:element name="inbound-endpoint" type="inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint"/>
    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:inboundEndpointType">
                <xsd:attribute name="query" type="xsd:string" use="required"/>
                <xsd:attribute name="pollingFrequency" type="mule:substitutableLong" use="required"/>
                <xsd:attribute name="singleMessage" type="mule:substitutableBoolean"/>
                <xsd:attribute name="ack" type="xsd:string"/>
                <xsd:attribute name="singleAck" type="mule:substitutableBoolean"/>
                <xsd:attribute name="maxResults" type="mule:substitutableInt"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
          
	<xsd:element name="outbound-endpoint" type="outboundEndpointType" substitutionGroup="mule:abstract-outbound-endpoint"/>
    <xsd:complexType name="outboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:outboundEndpointType">
          		<xsd:attribute name="change" type="xsd:string" use="required"/>
          	</xsd:extension>
       	</xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="transaction" type="mule:baseTransactionType" substitutionGroup="mule:abstract-transaction"/>      
    <xsd:element name="xa-transaction" type="mule:baseTransactionType" substitutionGroup="mule:abstract-transaction"/>      
                
</xsd:schema>
